<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-7">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Cargar Votos</h4>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Usuario" [(ngModel)]="user" name="user">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Contraseña" type="password" [(ngModel)]="pass" name="pass">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Mesa número"  [(ngModel)]="mesa" name="mesa">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Orden de Mesa" type="number"  [(ngModel)]="orden" name="orden" (keypress)="evaluarKeyp($event)">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
