<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <button mat-raised-button class="btn btn-danger btn-block pull-left" (click)="actualizarPadron()">
                Actualizar
            </button>

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Estadisticas</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <h4 [innerHTML]="superstats"></h4>
                    </div>
                </div>

            <p-table [value]="votantes_faltantes" dataKey="puntero.id">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Mesa</th>
                        <th>Orden</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded"
                             let-columns="columns">
                    <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.puntero.id].index === rowIndex">
                        <td colspan="5">
                            <a href="#" [pRowToggler]="rowData">
                                <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                                <span>{{rowData.puntero.nombre}}  => {{rowData.puntero.stats}}</span>
                            </a>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td></td>
                        <td>{{rowData.mesa}}</td>
                        <td>{{rowData.orden}}</td>
                        <td>{{rowData.nombre}}</td>
                        <td>{{rowData.telefono}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--<div class="row">-->
            <!--<div class="col-md-12">-->
            <!--<div class="card">-->
            <!--<div class="card-header card-header-danger">-->
            <!--<h4 class="card-title ">Simple Table</h4>-->
            <!--<p class="card-category"> Here is a subtitle for this table</p>-->
            <!--</div>-->
            <!--<div class="card-body">-->
            <!--Oaaaaa-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
