<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Actualizar padron</h4>
            <p class="card-category"></p>
        </div>
        <div class="card-body">

            <form>
                <div class="row">
                    <p>Resubir el padron va a borrar: {{ stats }}</p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Usuario" [(ngModel)]="user" name="user">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Contraseña" type="password" [(ngModel)]="pass" name="pass">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                            <p>Padron en .csv</p>
                    </div>
                    <div class="col-md-4">
                        <p-fileUpload [mode]="'basic'" [multiple]="false" [name]="'archivos'" [url]="datosService.uploadUrl"
                                       (onUpload)="onBasicUpload($event)" (onBeforeUpload)="set_post_params($event)"></p-fileUpload>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>

        </div>
    </div>
</div>
