<footer class="footer ">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, desarrollado por
            <a href="https://innovatica.com.py" target="_blank">Innovatica SRL</a>
        </div>
    </div>
</footer>
